html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
div#main {
    position: relative;
    height: 100%;
    overflow: hidden;
}
li.page {
    display: block;
    height: 100%;
    width: 50%;
    float: left;
}
ul#main-container {
    height: 100%;
    width: 200%;
    margin: 0;
    padding: 0;
    position: absolute;
}

.color-light {
    color: #b9b39d;
}

.color-dark {
    color: #807b65;
}
.p-color-light {
    color: #5a636b;
}

.p-color-dark {
    color: #83909d;
}

.font-fregat {
    font-family: "Fregat";
}

.font-hattori{
    font-family: "Hattori Hanzo";
}
/* H1 */
.hybrid{
    width: 100%;
    height: 100%;
    background: #38362a; /* Old browsers */
    background: -moz-linear-gradient(left, #38362a 0%, #373529 35%, #2e2b22 46%, #2e2b24 48%, #0e0d09 77%, #0a0907 84%, #070705 84%, #010101 94%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#38362a), color-stop(35%,#373529), color-stop(46%,#2e2b22), color-stop(48%,#2e2b24), color-stop(77%,#0e0d09), color-stop(84%,#0a0907), color-stop(84%,#070705), color-stop(94%,#010101), color-stop(100%,#000000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #38362a 0%,#373529 35%,#2e2b22 46%,#2e2b24 48%,#0e0d09 77%,#0a0907 84%,#070705 84%,#010101 94%,#000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #38362a 0%,#373529 35%,#2e2b22 46%,#2e2b24 48%,#0e0d09 77%,#0a0907 84%,#070705 84%,#010101 94%,#000000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #38362a 0%,#373529 35%,#2e2b22 46%,#2e2b24 48%,#0e0d09 77%,#0a0907 84%,#070705 84%,#010101 94%,#000000 100%); /* IE10+ */
    background: linear-gradient(to right, #38362a 0%,#373529 35%,#2e2b22 46%,#2e2b24 48%,#0e0d09 77%,#0a0907 84%,#070705 84%,#010101 94%,#000000 100%); /* W3C */

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38362a', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

    position: relative;
}

#h1 span {
    display: block;
    top: 50%;
    position: absolute;
    margin-top: -175px;

    text-align: center;
    font-size: 11em;
    font-family: "Hattori Hanzo";
    color: #b9b39d;

}

/* H2 */

div.s2-text {
    width: 475px;
    left: 50%;
    position: absolute;
    margin-left: -243px;
    top: 50%;
    height: 300px;
    margin-top: -150px;
}
.s2-text span.s2-title {
    display: block;
    font-size: 25px;
}
span.s2-first-desc {
    margin-top: 11px;
    display: block;
    margin-bottom: 11px;
}
div.s2-list-item-point {
    float: left;
    width: 55px;
    height: 55px;
    vertical-align: middle;
    text-align: center;
    background: rgba(81, 77, 63, 0.6);
    font-size: 34px;
    line-height: 56px;
    border-radius: 50%;
    margin-right: 14px;
    margin-top: 7px;
}
div.s2-list-item {
    margin-bottom: 11px;
    height: 65px;
}
span.s2-list-item-text {
    display: table-cell;
    vertical-align: middle;
    height: 71px;
    font-size: 18px;
}
span.s2-footer-desc {
    margin-top: 11px; display: block; margin-bottom: 11px;
}

/* H3 */
.s3-desc-title {
    display: block;
    font-size: 23px;
    margin-bottom: 25px;
}
div.s3-desc {
    width: 393px;
    top: 16%;
    position: absolute;
    left: 8%;
    z-index: 5;
}
.s3-desc div.s2-list {
    margin-left: 14px;
}
div.s3-img {
    position: absolute;
    z-index: 0;
    right: 0;
    top: 18%;
    /* width: 395px; */
}
.s3-img img {
    width: 636px;
}
div.s3-title {
    position: absolute;
    font-size: 40px;
    text-align: center;
    left: 50%;
    margin-left: -121px;
    top: 13%;
}
.s3-desc-text a {
    color: #b9b39d;
    text-decoration: none;
}
.s2-list-item img {
    width: 31px;
}

/* p4 */

div.h4-desc {
    width: 580px;
    left: 8%;
    position: absolute;
    top: 14%;
}
div.p4-desc-title.color-light.font-hattori {
    font-size: 24px;
    margin-bottom: 20px;
}
div.p4-desc-text-2.color-dark.font-fregat {
    margin-top: 30px;
    font-size: 23px;
    margin-bottom: 20px;
}
div.h4-bg-img {
    position: absolute;
    right: -4px;
}
.h4-desc-pdf-link a {
    text-decoration: none;
}

/* h5 */

div.h5 {
    position: absolute;
    left: 50%;
    width: 560px;
    margin-left: -280px;
    height: 400px;
    top: 50%;
    margin-top: -200px;
}
div.h5-title.color-light.font-hattori {
    text-align: center;
    margin-bottom: 6px;
    font-size: 20px;
}
div.h5-video {
    border: 11px solid black;
    height: 370px;
}

/* H6 */

div.h6 {
    width: 475px;
    left: 50%;
    position: absolute;
    margin-left: -238px;
    top: 50%;
    height: 420px;
    margin-top: -210px;
}
div.h6-title.font-hattori.color-dark {
    font-size: 21px;
    text-align: center;
    margin-bottom: 90px;
}
div.h6-form-wrapper {
    background: #79735e;
    padding: 23px;
}
div.h6-form-row input {
    width: 100%;
    height: 62px;
    background: #ded3ad;
    border: 0;
    font-size: 30px;
    color: #807b65;
    z-index: 100;
}
div.h6-form-field-title {
    margin-bottom: 6px;
    margin-top: 11px;
    color: #b9b39d;
}
div.h6-form-submit-wr {
    text-align: center;
    margin-top: 32px;
}
.h6-form-submit-wr a {
    color: #b9b39d;
    text-decoration: none;
}

/* h7 */

div.h7-desc.font-hattori {
    font-size: 21px;
    text-align: center;
    width: 424px;
    height: 42px;
    left: 50%;
    margin-left: -212px;
    position: absolute;
    top: 50%;
    margin-top: -21px;
}
div.h7-logo {
    position: absolute;
    height: 192px;
    width: 180px;
    left: 50%;
    margin-left: -90px;
    top: 14%;
}
.h7-logo img {
    width: 180px;
}

/* H8 */
div.h8-wrapper {
    width: 370px;
    left: 50%;
    position: absolute;
    margin-left: -185px;
    height: 200px;
    top: 50%;
    margin-top: -100px;
}
div.h8-title {
    text-align: center;
    font-size: 26px;
    margin-bottom: 24px;
}
div.h8-desc {
    margin-bottom: 27px;
}


img.home_bg {
    width: 100%;
    position: relative;
}
div.home-link-left {
    position: absolute;
    float: left;
    top: 50%;
    z-index: 10;
    color: rgba(230, 230, 230, 0.88);;
    font-size: 23px;
    height: 50px;
    width: 77px;
    margin-top: 11px;
    left: 8%;
}
div.home-link-right {
    position: absolute;
    float: left; top: 50%;
    z-index: 16; color: rgba(230, 230, 230, 0.88);;
    font-size: 23px; height: 50px; width: 77px; margin-top: 11px;
    left: 39%;
}


/* P1 */
.pride{
    width: 100%;
    height: 100%;
    background-image: -webkit-gradient(
        linear,
        right top,
        left bottom,
        color-stop(0, #A9B5C1),
        color-stop(1, #D9D9DA)
    );
    background-image: -o-linear-gradient(left bottom, #A9B5C1 0%, #D9D9DA 100%);
    background-image: -moz-linear-gradient(left bottom, #A9B5C1 0%, #D9D9DA 100%);
    background-image: -webkit-linear-gradient(left bottom, #A9B5C1 0%, #D9D9DA 100%);
    background-image: -ms-linear-gradient(left bottom, #A9B5C1 0%, #D9D9DA 100%);
    background-image: linear-gradient(to left bottom, #A9B5C1 0%, #D9D9DA 100%);

    position: relative;
}

#p1 span {
    display: block;
    top: 50%;
    position: absolute;
    margin-top: -175px;

    text-align: center;
    font-size: 11em;
    font-family: "Hattori Hanzo";
    color: white;

    width: 100%;
}

/* P2 */

div.p2-text {
    width: 475px;
    left: 50%;
    position: absolute;
    margin-left: -243px;
    top: 50%;
    height: 300px;
    margin-top: -150px;
}
.p2-text span.p2-title {
    display: block;
    font-size: 25px;
}
span.p2-first-desc {
    margin-top: 11px;
    display: block;
    margin-bottom: 11px;
}
div.p2-list-item-point {
    float: left;
    width: 55px;
    height: 55px;
    vertical-align: middle;
    text-align: center;
    background: rgba(240, 242, 243, 0.6);
    font-size: 34px;
    line-height: 56px;
    border-radius: 50%;
    margin-right: 14px;
    margin-top: 7px;
}
div.p2-list-item {
    margin-bottom: 11px;
    height: 65px;
}
span.p2-list-item-text {
    display: table-cell;
    vertical-align: middle;
    height: 71px;
    font-size: 18px;
}
span.p2-footer-desc {
    margin-top: 11px; display: block; margin-bottom: 11px;
}

/* H3 */
.p3-desc-title {
    display: block;
    font-size: 23px;
    margin-bottom: 25px;
}
div.p3-desc {
    width: 393px;
    top: 16%;
    position: absolute;
    left: 8%;
    z-index: 5;
}
.p3-desc div.p2-list {
    margin-left: 14px;
    margin-top: 9px;
}
div.p3-img {
    position: absolute;
    z-index: 0;
    right: 0;
    /* top: 18%; */
    /* width: 395px; */
}
.p3-img img {
    width: 100%;
}
div.p3-title {
    position: absolute;
    font-size: 40px;
    text-align: center;
    left: 50%;
    margin-left: -121px;
    top: 13%;
}
.p3-desc-text a {
    color: #5a636b;
    text-decoration: none;
}
.p2-list-item img {
    width: 31px;
}

/* p4 */

div.p4-desc {
    width: 580px;
    left: 8%;
    position: absolute;
    top: 14%;
}
div.p4-desc-title.p-color-light.font-hattori {
    font-size: 24px;
    margin-bottom: 20px;
}
div.p4-desc-text-2.p-color-dark.font-fregat {
    margin-top: 30px;
    font-size: 23px;
    margin-bottom: 20px;
}
div.p4-bg-img {
    position: absolute;
    right: -4px;
}
.p4-desc-pdf-link a {
    text-decoration: none;
}

/* p5 */

div.p5 {
    position: absolute;
    left: 50%;
    width: 560px;
    margin-left: -280px;
    height: 400px;
    top: 50%;
    margin-top: -200px;
}
div.p5-title.p-color-light.font-hattori {
    text-align: center;
    margin-bottom: 6px;
    font-size: 20px;
}
div.p5-video {
    border: 11px solid black;
    height: 370px;
}

/* H6 */

div.p6 {
    width: 475px;
    left: 50%;
    position: absolute;
    margin-left: -238px;
    top: 50%;
    height: 420px;
    margin-top: -210px;
}
div.p6-title.font-hattori.p-color-dark {
    font-size: 21px;
    text-align: center;
    margin-bottom: 90px;
}
div.p6-form-wrapper {
    background: #5b646b;
    padding: 23px;
}
div.p6-form-row input {
    width: 100%;
    height: 62px;
    background: #d8d9da;
    border: 0;
    font-size: 30px;
    color: #83909d;
    z-index: 100;
}
div.p6-form-field-title {
    margin-bottom: 6px;
    margin-top: 11px;
    color: #d8d9da;
}
div.p6-form-submit-wr {
    text-align: center;
    margin-top: 32px;
}
.p6-form-submit-wr a {
    color: #d8d9da;
    text-decoration: none;
}


.contacts-list table {
    width: 100%;
    text-align: center;
}
div.contacts-list-item img {
    width: 270px;
}
div.contacts-title.color-light {
    text-align: center;
    font-size: 21px;
}
div.contacts-header {
    text-align: center;
}
div.contacts-header {
    position: relative;
    top: 8px;
    padding-top: 63px;
}
div.contacts-desc.color-dark {
    margin-top: 13px;
}
div.contacts-list {
    margin-top: 34px;
}

div#icons {
    position: absolute;
    bottom: 14px;
    text-align: center;
    width: 100px;
    left: 50%;
    margin-left: -53px;
}

.icons-wrapper td {
    text-align: center;
    width: 37px;
    padding-right: 15px;
}