<div id="contacts" class="hybrid font-fregat">
    <div class="contacts-header">
        <div class="contacts-title color-light font-hattori">
            ХОТИТЕ СВЯЗАТЬСЯ С НАМИ?
        </div>
        <div class="contacts-desc color-dark">
            Мы всегда на связи и рады обсудить любые дела и предложения.
        </div>
    </div>

    <div class="contacts-list">
        <table>
            <tr>
                <td>
                    <div class="contacts-list-item">
                        <img src="img/c_danil.png">
                        <div class="contacts-item-name color-dark">
                            Данил Тихомиров
                        </div>
                        <div class="contacts-item-desc color-light">
                            Директор по связям с общественностью<br>
                            +7 903 378 6160<br>
                            d.tikhomirov@rezonver.com
                        </div>
                    </div>
                </td>
                <td>
                    <div class="contacts-list-item">
                        <img src="img/c_alik.png">
                        <div class="contacts-item-name color-dark">
                            Альберт Еналеев
                        </div>
                        <div class="contacts-item-desc color-light">
                            Генеральный директор <br>
                            + 7 917 180 9970 <br>
                            a.enaleev@rezonver.com
                        </div>
                    </div>
                </td>
                <td>
                    <div class="contacts-list-item">
                        <img src="img/c_sergey.png">
                        <div class="contacts-item-name color-dark">
                            Сергей Сергеев
                        </div>
                        <div class="contacts-item-desc color-light">
                            Директор по продажам <br>
                            +7 917 088 3986 <br>
                            s.sergeev@rezonver.com
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>