<div id="#home">
    <img class="home_bg" src="img/home_bg.jpg" />
    <a href="#!/prime/page1"><div class="home-link-left font-hattori">сварка и резка</div></a>
    <a href="#!/hybrid/page1"><div class="home-link-right font-hattori">сварка</div></a>
</div>