<div id="h5" class="hybrid">
    <div class="h5">
        <div class="h5-title color-light font-hattori">
            REZONVER HYBRID В РАБОТЕ
        </div>
        <div class="h5-video">
            <iframe width="538" height="370" src="//www.youtube.com/embed/W5cwFKFbyt0?rel=0" frameborder="0" allowfullscreen></iframe>
       </div>
    </div>
</div>