<div id="h4" class="hybrid">
    <div class="h4-desc">
        <div class="h4-desc-title color-light font-hattori">
            КАК МЫ ЭТО СДЕЛАЛИ?
        </div>
        <div class="h4-desc-text-1 color-dark font-fregat">
            В основе технологии “Rezonver Hybrid” лежит резонансный принцип
            преобразования энергии. Мы использовали резонансный контур, который
            формирует синусоидальную форму тока в силовых цепях преобразователя.
        </div>
        <div class="h4-desc-text-2 color-dark font-fregat">
            Это позволило получить компактное, мощное и безотказное, как автомат Калашникова, устройство.
        </div>

        <div class="h4-desc-pdf-link">

                <div class="s2-list">
                    <div class="s2-list-item">
                        <a href="#">
                            <div class="s2-list-item-point color-dark font-fregat"  style="line-height: 64px; padding-left: 2px;"><img src="img/4_h_save.png"></div>
                                <span class="s2-list-item-text color-light font-fregat">
                                    СКАЧАЙТЕ ТЕХНИЧЕСКИЕ ХАРАКТЕРИСТИКИ
                                </span>
                         </a>
                    </div>
                </div>
        </div>
    </div>
    <div class="h4-bg-img">
        <img src="img/4_h_bg.png">
    </div>
</div>