<div id="h6" class="hybrid">
    <div class="h6">

        <div class="h6-title font-hattori color-dark">
            ЗАКАЖИТЕ “REZONVER HYBRID” ПРЯМО СЕЙЧАС
            И ПОЛУЧИТЕ СКИДКУ 15%
        </div>

        <div class="h6-form">
            <form action="/">
                <div class="h6-form-wrapper font-fregat">
                    <div class="h6-form-row">
                        <div class="h6-form-field-title">E-mail для связи</div>
                        <input name="email" required="required">
                    </div>
                    <div class="h6-form-row">
                        <div class="h6-form-field-title">Контактный телефон</div>
                        <input name="phone" required="required">
                    </div>
                    <div class="h6-form-row">
                        <div class="h6-form-submit-wr">
                            <a href="#" onclick="sendEmail('hybrid')">ЗАКАЗАТЬ</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>