<div id="h3" class="hybrid">
    <div class="s3-desc">

        <span class="s3-desc-title font-hattori color-light">
            REZONVER HYBRID
        </span>

        <span class="s3-desc-text font-fregat color-dark">
            Мы соединили ручную дуговую сварку и
            воздушно-плазменную резку в одном устройстве,
            чтобы вам не нужно было носить с собой два
            тяжелых аппарата. С “Rezonver Hybrid” вы
            экономите время и деньги, получая
            бескомпромиссное качество сварки и резки.
            <a href="#">Закажите</a> “Rezonver Hybrid” прямо сейчас и
            получите скидку!
        </span>

        <div class="s2-list">
            <div class="s2-list-item">
                <div class="s2-list-item-point color-dark font-fregat">I</div>
                <span class="s2-list-item-text color-light font-fregat">
                    Сила тока - 200 А, революционный показатель для устройства весом всего 3,5 кг
                </span>
            </div>
            <div class="s2-list-item">
                <div class="s2-list-item-point color-dark font-fregat" style="line-height: 65px;"><img src="img/3_h_symbol.png"></div>
                <span class="s2-list-item-text color-light font-fregat">
                    Режет металл до 15 мм толщиной
                </span>
            </div>
            <div class="s2-list-item">
                <div class="s2-list-item-point color-dark font-fregat" style="line-height: 48px;">ƞ</div>
                <span class="s2-list-item-text color-light font-fregat">
                   КПД 98% (на 13% более производительный, чем аналоги)
                </span>
            </div>
        </div>

    </div>
    <div class="s3-title font-hattori color-dark">
        3,5 кг<br>
        ДВА В ОДНОМ
    </div>
    <div class="s3-img">
        <img src="img/3_h_app.png" alt=""/>
    </div>
</div>