<div id="h2" class="hybrid">
    <!--<img src="img/1-Hybrid.jpg" />-->
    <div class="s2-text">
        <span class="s2-title color-light font-hattori">
            ЧЕГО МЫ ХОТИМ ПРИ РАБОТЕ С МЕТАЛЛОМ?
        </span>
        <span class="s2-first-desc color-dark font-fregat">
            В своей работе мы имели дело со сварочными и
            режущими аппаратами разных производителей и всегда
            сталкивались с тремя проблемами:
        </span>
        <div class="s2-list">
            <div class="s2-list-item">
                <div class="s2-list-item-point color-dark font-fregat">1</div>
                <span class="s2-list-item-text color-light font-fregat">
                    Большую силу тока дают только БОЛЬШИЕ
                    аппараты
                </span>
            </div>
            <div class="s2-list-item">
                <div class="s2-list-item-point color-dark font-fregat">2</div>
                <span class="s2-list-item-text color-light font-fregat">
                    Обычные сварочные аппараты это работа  с
                    жестким режимом переключения силовой группы.
                    Боятся 	перегрузок по току,  температуре а также
                    бросков напряжения.
                </span>
            </div>
            <div class="s2-list-item">
                <div class="s2-list-item-point color-dark font-fregat">3</div>
                <span class="s2-list-item-text color-light font-fregat">
                   Чтобы резать и сваривать, нужно два аппарата, а
                   это заметно бьет по бюджету
                </span>
            </div>
        </div>

        <span class="s2-footer-desc color-dark font-fregat">
            Мы решили исправить эти недостатки традиционных
            инструментов и создали “Rezonver Hybrid”.
        </span>
    </div>
</div>