<div id="p5" class="pride">
    <div class="p5">
        <div class="p5-title p-color-light font-hattori">
            REZONVER PRIDE В РАБОТЕ
        </div>
        <div class="p5-video">
            <iframe width="538" height="370" src="//www.youtube.com/embed/1uFK73BnCvY?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>