<div id="p4" class="pride">
    <div class="p4-desc">
        <div class="p4-desc-title p-color-light font-hattori">
            КАК МЫ ЭТО СДЕЛАЛИ?
        </div>
        <div class="p4-desc-text-1 p-color-dark font-fregat">
            В основе технологии “Rezonver Pride” лежит фирменный резонансный принцип преобразования энергии. Мы использовали резонансный контур, который формирует синусоидальную форму тока в силовых цепях преобразователя.
        </div>
        <div class="p4-desc-text-2 p-color-dark font-fregat">
            Это позволило получить компактное, мощное и безотказное, как автомат Калашникова, устройство.
        </div>

        <div class="p4-desc-pdf-link">

            <div class="p2-list">
                <div class="p2-list-item">
                    <a href="#">
                        <div class="p2-list-item-point p-color-dark font-fregat"  style="line-height: 64px; padding-left: 2px;"><img src="img/4_p_save.png"></div>
                                <span class="p2-list-item-text p-color-light font-fregat">
                                    СКАЧАЙТЕ ТЕХНИЧЕСКИЕ ХАРАКТЕРИСТИКИ
                                </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="p4-bg-img">
        <img src="img/4_p_bg.png">
    </div>
</div>