<div id="p8" class="pride">
    <div class="h8-wrapper">
        <div class="h8-title p-color-light font-hattori">
            НИКАКИХ КОМПРОМИССОВ.<br>
            ТОЛЬКО “REZONVER”
        </div>
        <div class="h8-desc p-color-dark font-fregat">
            Если вы ищете недорогой, компактный и мощный сварочный аппарат, обратите внимание на “Rezonver Pride”.
        </div>
        <div class="s2-list">
            <div class="s2-list-item" style="text-align: center;
                                            width: 55px;
                                            position: absolute;
                                            left: 50%;
                                            margin-left: -23px;">
                <a href="#"><div class="p2-list-item-point p-color-dark font-fregat" style="line-height: 64px;"><img src="img/8_p_arrow.png"></div></a>
            </div>
        </div>
    </div>
</div>