<div id="p6" class="pride">
    <div class="p6">

        <div class="p6-title font-hattori p-color-dark">
            ЗАКАЖИТЕ “REZONVER PRIDE” ПРЯМО СЕЙЧАС
            И ПОЛУЧИТЕ СКИДКУ 15%
        </div>

        <div class="p6-form">
            <form action="/">
                <div class="p6-form-wrapper font-fregat">
                    <div class="p6-form-row">
                        <div class="p6-form-field-title">E-mail для связи</div>
                        <input name="email" required>
                    </div>
                    <div class="p6-form-row">
                        <div class="p6-form-field-title">Контактный телефон</div>
                        <input name="phone" required>
                    </div>
                    <div class="p6-form-row">
                        <div class="p6-form-submit-wr">
                            <a href="#">ЗАКАЗАТЬ</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>