<div id="p2" class="pride">
    <div class="p2-text">
        <span class="p2-title p-color-light font-hattori">
            ЧЕГО МЫ ХОТИМ  ОТ РУЧНОЙ СВАРКИ?
        </span>
        <span class="p2-first-desc p-color-dark font-fregat">
            В своей работе мы имели дело со сварочными и режущими аппаратами разных производителей и всегда сталкивались с тремя проблемами:
        </span>
        <div class="p2-list">
            <div class="p2-list-item">
                <div class="p2-list-item-point p-color-dark font-fregat">1</div>
                <span class="p2-list-item-text p-color-light font-fregat">
                    Большую силу тока дают только БОЛЬШИЕ
                    аппараты
                </span>
            </div>
            <div class="p2-list-item">
                <div class="p2-list-item-point p-color-dark font-fregat">2</div>
                <span class="p2-list-item-text p-color-light font-fregat">
                    Обычные сварочные аппараты это работа  с
                    жестким режимом переключения силовой группы.
                    Боятся 	перегрузок по току,  температуре а также
                    бросков напряжения.
                </span>
            </div>
            <div class="p2-list-item">
                <div class="p2-list-item-point p-color-dark font-fregat">3</div>
                <span class="p2-list-item-text p-color-light font-fregat">
                   Нельзя просто нажать на “Пуск” и начать
                   сваривать. Нужно сначала покопаться в
                   настройках
                </span>
            </div>
        </div>

        <span class="p2-footer-desc p-color-dark font-fregat">
            Мы решили исправить эти недостатки традиционных инструментов и создали “Rezonver Pride”.
        </span>
    </div>
</div>