<div id="p3" class="pride">
    <div class="p3-desc">

        <span class="p3-desc-title font-hattori p-color-light">
            REZONVER HYBRID
        </span>

        <span class="p3-desc-text font-fregat p-color-dark">
 Наша гордость - мощнейшая ультракомпактная модель аппарата для ручной дуговой сварки “Rezonver Pride”. Мы соединили все, что вы любите в сварочных инверторах, и избавились от их недостатков.
Закажите “Rezonver Pride” прямо сейчас и получите скидку!
            <a href="#">Закажите</a> “Rezonver Pride” прямо сейчас и получите скидку!
        </span>

        <div class="p2-list">
            <div class="p2-list-item">
                <div class="p2-list-item-point p-color-dark font-fregat">I</div>
                <span class="p2-list-item-text p-color-light font-fregat">
                    Сила тока - 200 А, революционный показатель для устройства весом всего 3,5 кг
                </span>
            </div>
            <div class="p2-list-item">
                <div class="p2-list-item-point p-color-dark font-fregat" style="line-height: 65px;"><img src="img/3_p_symbol.png"></div>
                <span class="p2-list-item-text p-color-light font-fregat">
                    Режет металл до 15 мм толщиной
                </span>
            </div>
            <div class="p2-list-item">
                <div class="p2-list-item-point p-color-dark font-fregat" style="line-height: 48px;">ƞ</div>
                <span class="p2-list-item-text p-color-light font-fregat">
                   КПД 98% (на 13% более производительный, чем аналоги)
                </span>
            </div>
        </div>

    </div>

    <div class="p3-img">
        <img src="img/3_p_app.png" alt=""/>
    </div>
</div>