<div id="p6" class="pride">
    <div class="h7-logo">
        <img src="img/7_h_logo.png">
    </div>
    <div class="h7-desc font-hattori p-color-light">
        СПАСИБО! УЖЕ СКОРО МЫ СВЯЖЕМСЯ С ВАМИ И ОБСУДИМ ВАШ ЗАКАЗ
    </div>
</div>